/*Centro de Biotecnología Agropecuaría Análisis y desarrollo de sofware
ficha:2470980
Autor: Kelly Johana Ascanio
fecha de creación: 16 de febrero de 2022
fecha de actualización: 22 de febrero de 2022*/

body {
    background-color: turquoise;
}

#tit {
    color: beige;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.siete {
    color: bisque;
}

#container {
    width: 1000px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}