/*Centro de Biotecnología Agropecuaría Análisis y desarrollo de sofware
ficha:2470980
Autor: Kelly Johana Ascanio
fecha de creación: 16 de febrero de 2022
fecha de actualización: 22 de febrero de 2022*/

body {
    background-color: tomato;
}

#tit {
    color: aquamarine;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.diez {
    color: yellow;
}

#container {
    width: 1000px;
    height: 600px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
}